<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<meta charset="UTF-8">
		<title>Gerenciador de Atividades</title>
	</head>
	<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2 style="color: #375d81">Gerenciador de Atividades</h2>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-primary" href="/newtask"> Nova Tarefa </a>
			</div>
		</div>
		<br />
	    <div class="row">
			<div class="col-md-8">
				<div id="dvData">                                                           
					<table id="tasktable" class="table table-sm table-bordered table-hover">
						<thead class="bd-primary table-striped">
							<tr>
								<th> Código </th>
								<th> Tarefa </th>
								<th> Status </th>
								<th> Data de Criação </th>
								<th> Excluir </th>
							</tr>
						</thead>
						<tbody>
                            {% for task in tasks %}
						        <tr>
						            <td> {{task.pk}} </td>
						            <td> {{task.description}} </td>
						            <td> {{task.status}} </td>
						            <td> {{task.date_created}} </td>
						        	<td><a class="btn btn-danger" href="/removetask?id={{task.get_id}}"> Deletar </a></td>
                                </tr>  
                                {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>			
	</div>
	</body>
</html>